* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: rgb(47, 83, 47);
    color: white;
    border-radius: 5px;
    padding: 5px 16px;
    margin-top: 10px;   
    margin-right: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: yellow ;
    color: black;
}
.form-control:focus,.btn:focus {
    box-shadow: none;
    outline: 0;
    border-color:rgb(47, 83, 47);
}
.main-section {
    margin-top: 30px;
    display: flex;
    justify-content: end;
  
}
.giphy-section{
    margin-right: 40px;
}

.search-section {
    margin-right: 80px;
    width: 50vh;
}

.search-section h3 {
    color: rgb(47, 83, 47);
    padding-bottom: 10px;
    font-size: 35px; 
}

.search-section input {
    border: 1px solid  rgb(47, 83, 47);
}

#submit {
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    float: right;
}

#newGif {
    margin-right: 5px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}